.nav{
    grid-area: n;
    background-color: orangered;
    padding: 25px;
  }

  .item a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    margin-top: 3px;
  }

.item .activeLink {
   color: white
}; 
.friends{
  margin-top: 30px;
  display: flex;
}
.friend__item{
  padding: 30px;
  border-radius: 100%;
  color: #000;
}