.nav{
    grid-area: n;
    background-color: orangered;
    padding: 25px;
  }

  .item a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    margin-top: 3px;
  }

.item .activeLink {
   color: white
} 

.friends{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
  text-align: center;
}
  .friend__items{
    padding: 30px;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 100%;
  }